.efl-group-table,
.efl-group-table tr,
.efl-group-table td,
.efl-feature-list-table table {
	border: 0;
	margin: 0;
}

.efl-cell-wide-1 { width: 50%; }
.efl-cell-wide-2 { width: 25%; }
.efl-cell-wide-3 { width: 16.66%; }
.efl-cell-wide-4 { width: 12.5%; }
.efl-cell-wide-5 { width: 10%; }
.efl-cell-wide-6 { width: 8.444%; }
.efl-cell-wide-7 { width: 7.14%; }
.efl-cell-wide-8 { width: 6.25%; }
.efl-cell-wide-9 { width: 5.55%; }
